data
DATAS
.vscode/
code/pykeen_on_iric.ipynb
code/utils/__pycache__/constants.cpython-311.pyc
code/utils/__pycache__/load_and_manipulates_triples.cpython-311.pyc
code/utils/__pycache__/work_with_go.cpython-311.pyc
code/utils/test_goatools.ipynb
__pycache__